$black: rgba(34, 17, 34, 0.9);
$grey: rgba(246, 247, 248, 1);
$grey200: rgba(234, 235, 237, 1);
$grey300: rgba(213, 214, 220, 1);
$grey500: rgba(172, 173, 185, 1);
$grey600: rgba(123, 124, 136, 1);
$light-gray: rgba(234, 235, 237, 0.8);
$white: rgba(255, 255, 255, 1);
$blue: rgba(94, 150, 252, 1);
$blue400: rgba(146, 193, 255, 1);
$blue100: rgba(222, 236, 255, 1);
$blue600: rgba(59, 124, 211, 1);


