@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600&display=swap');
@import 'common/ui/styles/colors';
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  background-color: $grey;
  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
    font-weight: 700;
  }
  p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  ::-webkit-scrollbar{
    display: none;
  }
}

